.app{
  padding: 20px 50px;

}

.logo{
  width: 150px;
  margin-bottom: 20px;
}

.title{
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
}

.message-signer{
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  overflow-wrap: anywhere;

  & textarea{
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
    resize: none;
  }
}